.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}
.container {
  flex: 1;
  position: relative;
}
.input {
  border: 0;
  outline: none;
  width: 100%;
  min-width: 200px;
  font-size: 14px;
  line-height: 15px;
  padding: 0.5rem 0;
}
.suggestions {
  padding: 0;
  margin: 0;
  position: absolute;
  list-style: none;
  top: 100%;
  border-radius: 2px;
  z-index: 99999;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.suggestions li {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.suggestions li:hover {
  background: #eee;
}

.tag {
  padding: 0.5rem;
  font-size: 14px;
  line-height: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;
}

.tag:after {
  content: "✕";
  color: #aaa;
  margin-left: 8px;
}
